body{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(145deg, rgb(0, 183, 255), #ffffff);
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 90% 0px 0px;
    justify-items: center;
    align-items: center;
}

#gameOverWindow{
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 80%;
}

#gameOverMsg{
    display: grid;
    grid-template-rows: 60% 40%;
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0px 5px 10px black;
}

#btn_restart{
    cursor: pointer;
    padding: 5px;
    margin: 0%;
    background-color: rgb(0, 204, 255);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgb(61, 61, 61);
    border: none;
    border-radius: 6px;
}

header{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(0, 183, 255);
    box-shadow: 0px 3px 10px rgb(54, 54, 54);
}

main{
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
}

.card{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 183, 255);
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transition: .4s;
}

.front, .back{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
}

img{
    width: 80%;
}

.front{
    transform: rotateY(180deg);
    background-color: rgb(255, 255, 255);
}

.back{
    background-color: rgb(0, 183, 255);
}

.flip{
    transform: rotateY(180deg);
}